@import "variables";

.about {
  margin-bottom: 60px;
  & .hero-image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 280px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center bottom;
      height: 100%;
      width: 100%;
    }
  }
  & .hero-text {
    text-align: center;
    margin: 25px 25px;
    font-weight: 400;

    h1 {
      font-size: $font-large;
      color: $darkBlue;
      margin-bottom: 24px;
    }
    p {
      font-size: $font-sm;
      margin-bottom: 36px;
      line-height: 1.5;
      color: $grayBlue;
    }
  }
}
