/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-for-desktop {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  padding: 30px;
}

header .hamburger-menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  margin: 6px 0px;
  -webkit-transform-origin: 2px 1px;
          transform-origin: 2px 1px;
}

header .hamburger-menu.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .hamburger-menu.open > span:nth-child(2) {
  opacity: 0;
}

header .hamburger-menu.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .main-menu a {
  font-size: 14px;
  color: #9698a6;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding-bottom: 54px;
}

header .main-menu a:not(:last-child) {
  margin-right: 30px;
}

header .main-menu a:hover {
  color: #2d314d;
  border-bottom: 4px solid;
  -o-border-image: linear-gradient(to right, #31d35c, #2bb7da);
     border-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
     border-image: linear-gradient(to right, #31d35c, #2bb7da);
  border-image-slice: 1;
  width: 100%;
}

header .btn {
  padding: 12px 35px;
  border: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to left, #31d35c, #2bb7da);
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

header .btn:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=main.css.map */